{%- extends "bootstrap/base.html" %}

{% block title %}OPUS{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{%- endblock %}

{% block content -%}
  {{ super() }}
  <img id="logo" class="well" src="/static/images/logo.png"/>
{%- endblock %}

{% block scripts -%}
  {{ super() }}
  <script src="/static/scripts/cytoscape.min.js" type="text/javascript"></script>
  <script src="/static/scripts/cytoscape-cose-bilkent.js" type="text/javascript"></script>
  <script src="/static/scripts/dagre.min.js" type="text/javascript"></script>
  <script src="/static/scripts/cytoscape-dagre.js" type="text/javascript"></script>
  <!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.1.2/cytoscape.min.js"></script> 
  <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-cose-bilkent/1.6.5/cytoscape-cose-bilkent.js"></script>
  <script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
  <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>
  -->
  <script type="text/javascript" src="/static/js/material.min.js"></script>
  <script type="text/javascript" src="/static/js/ripples.min.js"></script>

  <!-- jQuery contextMenu -->
  <script src="/static/js/jquery.contextMenu.min.js" type="text/javascript"></script>
  <script src="/static/js/jquery.ui.position.min.js" type="text/javascript"></script>

  <!-- jQuery URL plugin -->
  <script src="/static/js/url.min.js" type="text/javascript"></script>

  <!-- Local JS -->
  <script src="/static/js/graphing.js" type="text/javascript"></script>

  <script type="text/javascript">$.material.init()</script>
{%- endblock %}

{% block styles -%}
    {{super()}}

    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="/static/css/google-Material_Icons.css">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-material-design.css">
    <link rel="stylesheet" type="text/css" href="/static/css/ripples.min.css">

    <!-- jQuery Context Menu -->
    <link href="/static/css/jquery.contextMenu.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css"/>

    <!-- Local style -->
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='style/opus.css')}}">
{% endblock %}

{% block navbar %}
{{nav.frontend_top.render()}}
{% endblock %}
