{%- extends "base.html" -%}

{% import "bootstrap/utils.html" as utils %}

{% block content %}
<div class="container">
  {{ super() }}

  <div class="full graph well" id="machine-view"></div>
</div>

{% endblock %}

{% block scripts -%}
  {{ super() }}

  <script type="text/javascript">
$(document).ready(function() {
  $(window).resize(function() {
    // The height of the #content area (in ems) should be the height of the
    // window minus that of the navbar, minus some margin and padding.
    var fontSize = parseFloat($("html").css("font-size"));
    var height = ($(this).height() - $("nav.navbar").height()) / fontSize - 13;

    $("#machine-view").height(fontSize * height);
  }).resize();
});

var view = cytoscape({
  container: document.getElementById('machine-view'),
  boxSelectionEnabled: true,
});

load_graph_style([ view ]);

$.getJSON('machines', function(result) {
  console.log('Received machines');
  for (let machine of result.nodes) {
    let node = {
      classes: machine.type,
      data: machine,
    };
    node.data.label = node_metadata(machine).label;

    view.add(node);
  }

  for (let e of result.edges) {
    let edge = {
      classes: e.type,
      data: e,
    };

    view.add(edge);
    console.log(edge);
  }

  view.layout({
    name: 'dagre',
    rankDir: 'LR',
    animate: false,
  }).run();

  view.fit();
});
  </script>
{% endblock %}
