{%- extends "base.html" -%}

{% import "bootstrap/utils.html" as utils %}

{% block content %}
<div class="container">
  {{ super() }}

  <div id="sidebar">
    <h3>Worksheet</h3>

    <div class="panel panel-info">
      <div class="panel-heading">Available nodes:</div>
      <div class="panel-body">
        <table id="nodelist" class="table table-striped"></table>
      </div>
    </div>

    <label for="layout-picker" class="control-label">Auto-layout</label>
    <select id="layout-picker" onchange="layout_graph(worksheet, this.value)">
      <option value="dagre">dagre</option>
      <option value="cose">CoSE</option>
      <option value="cose-bilkent">CoSE (Bilkent)</option>
    </select>
  </div>

  <div id="content">
    <div class="graph well" id="worksheet"></div>

    <div class="row" id="inspector">
      <div class="col-md-8">
        <div class="panel panel-info">
          <div class="panel-heading">Inspector</div>
          <div class="graph panel-body" id="inspector-graph"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">Details</div>
          <div class="panel-body scrollable">
            <table id="inspector-detail" class="table table-striped"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts -%}
  {{ super() }}

  <script type="text/javascript">
//
// Create worksheet and inspector views.
//
var worksheet = cytoscape({
  container: document.getElementById('worksheet'),
  boxSelectionEnabled: true,
});

var inspector = {
  detail: $('#inspector-detail'),
  graph: cytoscape({
    container: document.getElementById('inspector-graph'),
    boxSelectionEnabled: true,
  }),
};

load_graph_style([ worksheet, inspector.graph ]);

//
// Populate node list.
//
$.getJSON('/nodes', function(result) {
  var nodelist = $('#nodelist');

  for (let node of result) {
    meta = node_metadata(node);

    nodelist.append(`
      <tr>
        <th><a onclick="inspect(${node.id})">${node.id}</a></th>
        <td><i class="fa fa-${meta.icon}" aria-hidden="true"></i></td>
        <td><a onclick="inspect(${node.id})">${meta.label}</a></td>
      </tr>`);
  }
});

//
// Define what it means to "inspect" a node.
//
function inspect(id) {
  // Display the node's details in the inspector "Details" panel.
  $.getJSON(`/detail/${id}`, function(result) {
    inspector.detail.empty();
    for (var property in result) {
      inspector.detail.append(`
        <tr>
          <th>${property}</th>
          <td>${result[property]}</td>
        </tr>
      `)
    }
  });

  // Display the node's immediate connections in the inspector "Graph" panel.
  $.getJSON('/onehop/' + id, function(result) {
    inspector.graph.remove('node');

    for (let n of result.nodes) {
      var node = { data: n };
      node.classes = n.type;
      node.data.label = node_metadata(n).label;
      inspector.graph.add(node);
    }

    for (let e of result.edges) {
      var edge = { data: e };
      edge.classes = e.type;
      inspector.graph.add(edge);
    }

    layout_graph(inspector.graph, 'dagre');

    // Create a context menu for the inspector graph that allows nodes to be
    // imported into the worksheet or inspected themselves.
    attach_context_menu(inspector.graph, '#inspector-graph', {
      "import": {
        name: "Import to workspace",
        icon: "fa-upload",
        accesskey: "m",
        action: function(node) {
          $.getJSON(`/detail/${node.id}`, function(result) {
            var n = { data: result };
            n.data.label = node_metadata(result).label;
            n.classes = result.type;

            worksheet.add(n);
          });
        }
      },
      "inspect": {
        name: "Inspect",
        icon: "fa-search",
        accesskey: "n",
        action: function(node) {
          inspect(node.id);
        }
      }
    });
  });
};

//
// Resize worksheet and inspector when the window size changes.
//
// Unfortunately this seems difficult to do via CSS.
//
$(document).ready(function() {
  $(window).resize(function() {
    // The height of the #content area (in ems) should be the height of the
    // window minus that of the navbar, minus some margin and padding.
    var fontSize = parseFloat($("html").css("font-size"));
    var height = ($(this).height() - $("nav.navbar").height()) / fontSize - 10;
    var width = $(this).width() / fontSize - 31;

    $("#worksheet").height(fontSize * (height - 20));
    $("#inspector").height(fontSize * 20);
    $("#content").width(fontSize * width);
  }).resize();
});
  </script>
{% endblock %}
