{%- extends "base.html" -%}

{% import "bootstrap/utils.html" as utils %}

{% block content %}
<div class="container">
  {{ super() }}

  <div id="sidebar">
    <div class="panel panel-info">
      <div class="panel-heading">
        Available nodes:

        <form id="nodeFilters" class="form-horizontal well" method="get">
          <fieldset>
          <div class="form-group">
            <label for="filterNodeType" class="col-md-2 control-label">Type</label>
            <div class="col-md-10">
              <select id="filterNodeType" class="form-control">
                <option></option>
                <option>connection</option>
                <option>file-version</option>
                <option>process</option>
                <option>process-meta</option>
                <option>socket-version</option>
                <option>machine</option>
              </select>
            </div>

            <label for="filterName" class="col-md-2 control-label">Name</label>
            <div class="col-md-10">
              <input id="filterName" class="form-control"/>
            </div>

            <label for="filterHost" class="col-md-2 control-label">Host</label>
            <div class="col-md-10">
              <input id="filterHost" class="form-control"/>
            </div>

            <label for="filterTuple" class="col-md-2 control-label">TCP</label>
            <div id="filterTuple" class="col-md-10">
              <input id="filterLocalIp" size="10"/>
              <input id="filterLocalPort" size="3"/>
              L
              <br/>
              <input id="filterRemoteIp" size="10"/>
              <input id="filterRemotePort" size="3"/>
              R
            </div>
          </div>
          </fieldset>
        </form>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <tbody id="nodelist"></tbody>
        </table>
      </div>
    </div>
  </div>

  <div id="content">
    <div class="well" id="worksheet-container">
      <div class="buttons">
        <a class="btn btn-raised btn-default"
            onclick="$('#filename').click()"><i class="fa fa-folder-open-o"></i></a>
        <input type="file" class="hidden" id="filename"
               onchange="load(this.files[0], worksheet)"/>
        <a class="btn btn-raised btn-default"
            onclick="save(worksheet.graph)"><i class="fa fa-floppy-o"></i></a>
        <a class="btn btn-raised btn-default"
           onclick="layout(worksheet.graph, 'dagre')">dagre</a>
        <a class="btn btn-raised btn-default"
           onclick="layout(worksheet.graph, 'cose-bilkent')">CoSE</a>
      </div>
      <div class="graph" id="worksheet"></div>
    </div>
  </div>

    <div id="inspector">
      <div class="graph-panel panel panel-info">
        <div class="panel-heading">Inspector</div>
        <div class="graph panel-body" id="inspector-graph"></div>
      </div>
      <div class="panel">
        <div class="panel-body">
          <form class="form-horizontal">
              <label for="inspectFiles">Files</label>
              <input id="inspectFiles" type="checkbox" checked/>

              &nbsp;

              <label for="inspectSockets">Sockets</label>
              <input id="inspectSockets" type="checkbox" checked/>

              &nbsp;

              <label for="inspectProcessMeta">Process Metadata<label>
              <input id="inspectProcessMeta" type="checkbox" checked/>
          </form>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">Details</div>
        <div class="panel-body scrollable">
          <table id="inspector-detail" class="table table-striped"></table>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block scripts -%}
  {{ super() }}

  <script type="text/javascript" src="static/js/worksheet.js"></script>

  <script type="text/javascript">
//
// Process query parameters:
//
//   nodeType=T   where T is one of {connection,file-version,machine, ...}
//   name=N       where N is a subset of a file path
//   host=H       where H is the UUID of a host
//   tcp=A:B:C:D  where A is the local IP, B is the local port,
//                C is the remote IP and D is the remote port
//                (any of which may be empty)
//
$('#filterNodeType').val($.url('?nodeType'));
$('#filterName').val($.url('?name'));
$('#filterHost').val($.url('?host'));

const tcp_tuple = $.url('?tcp');
if (tcp_tuple) {
  const parts = tcp_tuple.split(':');
  if (parts.length == 4) {
    $('#filterLocalIp').val(parts[0]);
    $('#filterLocalPort').val(parts[1]);
    $('#filterRemoteIp').val(parts[2]);
    $('#filterRemotePort').val(parts[3]);
  }
}


//
// Create worksheet and inspector views.
//
var worksheet = {
  graph: cytoscape({
    container: document.getElementById('worksheet'),
    boxSelectionEnabled: true,
  })
};

var inspector = {
  detail: $('#inspector-detail'),
  graph: cytoscape({
    container: document.getElementById('inspector-graph'),
    boxSelectionEnabled: true,
  }),
};
inspector.graph.inspectee = null;

load_graph_style([ worksheet.graph, inspector.graph ]);


//
// Add onchange event handlers to filter elements.
//
$('input[id *= "filter"],select[id *= "filter"]').on('change', update_nodelist);

// When the inspector filters change, re-inspect the current node.
$('input[id *= "inspect"]').on('change', function() {
  const node = inspector.graph.inspectee;
  if (node && !node.empty()) {
    inspect(node.id());
  }
});


//
// Resize worksheet and inspector when the window size changes.
//
// Unfortunately this seems difficult to do via CSS.
//
$(document).ready(function() {
  update_nodelist();

  $(window).resize(function() {
    // The height of the #content area (in ems) should be the height of the
    // window minus that of the navbar, minus some margin and padding.
    let fontSize = parseFloat($("html").css("font-size"));
    let height = ($(this).height() - $("nav.navbar").height()) / fontSize - 3;
    let width = $(this).width() / fontSize - 73;

    $("html").keypress(function(ev) {
      if (ev.key == 'c') {
        layout(worksheet.graph, 'cose-bilkent');
      } else if (ev.key == 'd') {
        layout(worksheet.graph, 'dagre');
      }
    });

    $("#worksheet-container").height(fontSize * height);
    $("#inspector").height(fontSize * height);
    $("#inspector-graph").height(fontSize * (height - 12));
    $("#content").width(fontSize * width);
  }).resize();
});

//
// Allow node addition to be partially automated for testing:
// if the query includes `nodes=foo,bar,baz` then the nodes
// `foo`, `bar` and `baz` will be automatically added to the worksheet.
//
const nodes_to_add = $.url('?nodes');
if (nodes_to_add) {
  let promise = $.when(null);

  for (let node of nodes_to_add.split(',')) {
    promise.then(import_into_worksheet(node));
  }
}

//
// Similarly, allow `inspect=XXXX` to load the workspace page with
// a single node pre-loaded in the inspector.
//
const node_to_inspect = $.url('?inspect');
if (node_to_inspect) {
  inspect(node_to_inspect);
}
  </script>
{% endblock %}
