{%- extends "base.html" -%}

{% import "bootstrap/utils.html" as utils %}

{% block content %}
<div class="container">
  {{ super() }}

  <div id="sidebar">
    <h3>Worksheet</h3>

    <div class="panel panel-info">
      <div class="panel-heading">Available nodes:</div>
      <div class="panel-body">
        <table id="nodelist" class="table table-striped"></table>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">Available edges:</div>
      <div class="panel-body">
        <table id="edgelist" class="table table-striped"></table>
      </div>
    </div>

    <label for="layout-picker" class="control-label">Auto-layout</label>
    <select id="layout-picker" onchange="layout(worksheet, this.value)">
      <option value="dagre">dagre</option>
      <option value="cose">CoSE</option>
      <option value="cose-bilkent">CoSE (Bilkent)</option>
    </select>
  </div>

  <div id="content">
    <div class="graph well" id="worksheet"></div>

    <div class="row" id="inspector">
      <div class="col-md-8">
        <div class="panel panel-info">
          <div class="panel-heading">Inspector</div>
          <div class="graph panel-body" id="inspector-graph"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">Details</div>
          <div class="panel-body scrollable">
            <table id="inspector-detail" class="table table-striped"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts -%}
  {{ super() }}

  <script type="text/javascript">
$(document).ready(function() {
  $(window).resize(function() {
    // The height of the #content area (in ems) should be the height of the
    // window minus that of the navbar, minus some margin and padding.
    var fontSize = parseFloat($("html").css("font-size"));
    var height = ($(this).height() - $("nav.navbar").height()) / fontSize - 10;

    $("#worksheet").height(fontSize * (height - 20));
    $("#inspector").height(fontSize * 20);
  }).resize();
});

var worksheet = cytoscape({
  container: document.getElementById('worksheet'),
  boxSelectionEnabled: true,
});

var inspector = {
  detail: $('#inspector-detail'),
  graph: cytoscape({
    container: document.getElementById('inspector-graph'),
    boxSelectionEnabled: true,
  }),
};

var layout = function(graph, algorithm) {
  graph.layout({
    name: algorithm,
    rankDir: 'LR',
    animate: false,
  })
  .run();
};

$.ajax('/static/style/cytoscape.css', {
  dataType: 'text',
  mimeType: 'text/css',
  success: function(result) {
    worksheet.style(result);
    inspector.graph.style(result);
  }
});

var inspect = function(id) {
  $.getJSON(`/detail/${id}`, function(result) {
    inspector.detail.empty();
    for (var property in result.data) {
      inspector.detail.append(`
        <tr>
          <th>${property}</th>
          <td>${result.data[property]}</td>
        </tr>
      `)
    }
  });

  $.getJSON('/onehop/' + id, function(result) {
    inspector.graph.remove('node');
    inspector.graph.add(result);

    inspector.graph.$('node').on('tap', function(ev) {
      alert(ev.target.id());
    });

    layout(inspector.graph, 'dagre');
  });
};

$.getJSON('/edges', function(result) {
  var edgelist = $('#edgelist');

  for (let node of result) {
    edgelist.append(`
      <tr>
        <td><i class="material-icons">${node.data.icon}</i></td>
        <td>${node.data.type}</td>
        <td>${node.data.label}</td>
        <td>
          <a onclick="inspect('${node.data.id}')">
            ${node.data.id.substring(0, 8)}
          </a>
        </td>
      </tr>`);
  }
});

$.getJSON('/nodes', function(result) {
  var nodelist = $('#nodelist');

  for (let node of result) {
    nodelist.append(`
      <tr>
        <td><i class="material-icons">${node.data.icon}</i></td>
        <td>${node.data.type}</td>
        <td>${node.data.label}</td>
        <td>
          <a onclick="inspect('${node.data.id}')">
            ${node.data.id.substring(0, 8)}
          </a>
        </td>
      </tr>`);
  }
});
  </script>
{% endblock %}
