div.container
  form.form
    div.row
      label for:scoped="fileName" -- Name
      input.form-control id:scoped="fileName" type="text"

    div.row
      label for:scoped="fileUUID" -- UUID
      input.form-control id:scoped="fileUUID" type="text"

  node-list
