class {
  onCreate() {
    this.state = {
      text: 'PVM Viewer',
    }
  }

  updateStatus(message) {
    this.state.text = message
  }
}

footer.footer
  span#status-bar.text-muted -- ${state.text}
