class {
  onCreate() {
    this.state = {
      properties: {}
    }
  }

  onMount() {
    this.input.registerInspector(this)
  }

  inspect(node) {
    this.state.properties = node.properties//Object.entries(node.properties)
  }
}

div.fullwidth.scrollable-y
  table.table.table-striped.node-properties
    thead
      tr
        th -- Name
        th -- Details

    tbody
      tr for(name, value in state.properties)
        td -- ${name}
        td -- ${value}
