class {
  onMount() {
    this.graph = this.getComponent('graph')
  }

  layoutGraph(algorithm, event, element) {
    this.graph.graph.layout(algorithm)
  }
}

div.container.worksheet
  graph key="graph"
  div.row.controls
    button.btn on-click('layoutGraph', 'dagre')
      i.fa.fa-code-fork.fa-rotate-90
    button.btn on-click('layoutGraph', 'cose-bilkent')
      i.fa.fa-share-alt
