html, body {
	color: #e2e2e2; 
	background-color: #121212;
	height: 100%;
	width: 100%;
	margin: 0;
}
.box {
	display: flex;
	flex-flow: column;
	height: 100%;
}
.box .row.header {
	flex: 0 0 auto;
}
.box .row.content {
	flex: 1 1 auto;
}
.fillHeader{
	background-color: #232323;
	width: 100%;
	position: relative;
	top: 0%;
	left: 0%;
	padding-bottom: 5px;
}
.headerButtons{
	height: 100%;
	position: absolute;
	top: 25%;
	left: 20%;
 }
 .headerButton{
	transition-duration: 0.5s;
	font-size: 20px;
	background-color: #343434;
	border: #343434;
	color: #717171;
	outline:none;
	border-radius: 2px;
 }
 .headerButton:Hover{
	color: #9e9e9e;
 }
.sheet{
	/*background-color: #303030;*/
	width: 100%;
	height: 100%;
}
.formBox{
	background-color: black;
	color: #7f7f7f;
	width: 100%;
	top: 0%;
	left: 0%;
	padding: 2%
}
.scrollable{
	overflow: scroll;
	overflow-x: hidden;
}
.notScrollable{
	overflow: hidden;
}
::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}
.table{
	width: 100%;
}
.table, th, td {
	border: 1px solid black;
	border-color: #2e2e2e;
	border-collapse: collapse;
}
th,td{
	padding: 8px;
}
.bodyButton{
	background-color: #aaa;
	box-shadow: 0 4px #888;
	color: black;
	border: none;
	height: 55%;
	border-radius: 15px;
	outline:none;
}
.bodyButton:Hover{
	background-color: #999;
}
.bodyButton:active {
	background-color: #727272;
	box-shadow: 0 2px #595959;
	transform: translateY(2px);
}
.topOptions{
	position: absolute;
	top: 0%;
	left: 0%;
	padding: 2%
}
.bottomOptions{
	color: #7f7f7f;
	position: absolute;
	bottom: 0%;
	left: 0%;
	padding: 2%
}
.darkTextBox{
	border: 0px;
	background-color: #303030;
	color: #c6c6c6;
	size:2;
}
.leftPadding{
	padding-left: 5px
}
.darkWorksheetTextBox{
	height: 22px;
	border: 0px;
	border-color: #343434;
	background-color: #121212;
	color: #e2e2e2;
	size:2;
}
.dropdown {
    position: relative;
}
.dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999999;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd}