{%- extends "base.html" -%}

{% import "bootstrap/utils.html" as utils %}


{% block scripts -%}
  {{ super() }}
  <script type="text/javascript" src="/dist/worksheet.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
  {{ super() }}

  <div id="sidebar" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        Available nodes:

        <form id="nodeFilters" class="form-horizontal well" method="get">
          <fieldset>
          <div class="form-group">
            <label for="filterNodeType" class="col-md-2 control-label">Type</label>
            <div class="col-md-10">
              <select id="filterNodeType" class="form-control">
                <option></option>
                <option>connection</option>
                <option>file-version</option>
                <option>pipe-endpoint</option>
                <option>process</option>
                <option>process-meta</option>
                <option>socket-version</option>
                <option>machine</option>
              </select>
            </div>

            <label for="filterName" class="col-md-2 control-label">Name</label>
            <div class="col-md-10">
              <input id="filterName" class="form-control"/>
            </div>

            <label for="filterHost" class="col-md-2 control-label">Host</label>
            <div class="col-md-10">
              <input id="filterHost" class="form-control"/>
            </div>

            <label for="filterTuple" class="col-md-2 control-label">TCP</label>
            <div id="filterTuple" class="col-md-10">
              <input id="filterLocalIp" size="10"/>
              <input id="filterLocalPort" size="3"/>
              L
              <br/>
              <input id="filterRemoteIp" size="10"/>
              <input id="filterRemotePort" size="3"/>
              R
            </div>
          </div>
          </fieldset>
        </form>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <tbody id="nodelist"></tbody>
        </table>
      </div>
    </div>
  </div>

  <div id="content" class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
    <div class="container-fluid">
      <div class="col-md-8" id="worksheet-container">
        <div class="buttons">
          <a class="btn btn-raised btn-default" onclick="toggle_sidebar()">
            <i class="fa fa-caret-square-o-left"></i>
          </a>
          <a class="btn btn-raised btn-default" onclick="$('#filename').click()">
            <i class="fa fa-folder-open-o"></i>
          </a>
          <input type="file" class="hidden" id="filename"
                 onchange="load(this.files[0], worksheet)"/>
          <a class="btn btn-raised btn-default"
              onclick="save(worksheet.graph)"><i class="fa fa-floppy-o"></i></a>
          <a class="btn btn-raised btn-default"
             onclick="layout(worksheet.graph, 'dagre')">
            <i class="fa fa-code-fork"></i>
          </a>
          <a class="btn btn-raised btn-default"
             onclick="layout(worksheet.graph, 'cose-bilkent')">
            <i class="fa fa-share-alt"></i>
          </a>
        </div>
        <div class="well graph" id="worksheet"></div>
      </div>

      <div id="inspector" class="col-md-4">
        <div class="graph-panel panel panel-info">
          <div class="panel-heading">Inspector</div>
          <div class="graph panel-body" id="inspector-graph"></div>
        </div>
        <div class="panel">
          <div class="panel-body">
            <form class="form-horizontal">
                <label for="inspectFiles">Files</label>
                <input id="inspectFiles" type="checkbox" checked/>

                &nbsp;

                <label for="inspectSockets">Sockets</label>
                <input id="inspectSockets" type="checkbox" checked/>

                &nbsp;

                <label for="inspectPipes">Pipes</label>
                <input id="inspectPipes" type="checkbox" checked/>

                &nbsp;

                <label for="inspectProcessMeta">Process Metadata<label>
                <input id="inspectProcessMeta" type="checkbox"/>
            </form>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">Details</div>
          <div class="panel-body scrollable">
            <table id="inspector-detail" class="table table-striped"></table>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">Neighbours</div>
          <div class="panel-body scrollable">
            <table id="neighbour-detail" class="table table-striped"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
