@import 'opus-colours'

html
  font-family: Avenir, Helvetica Neue, Helvetica, sans-serif

#logo
  position: fixed
  bottom: 0
  left: 1em

  padding: .5em
  width: 15%
  z-index: -99

  background-color: white
  border: 1px solid black

nav.navbar, nav.navbar.navbar-default
  background-color navbar-colour
  font-family Avenir, Helvetica Neue, Helvetica, sans-serif

.navbar-brand
  font-weight bold
