core {
  active-bg-color: #333; }

edge {
  curve-style: bezier;
  font-family: Avenir, Helvetica Neue, Helvetica, sans-serif;
  target-arrow-shape: triangle;
  width: 4;
  text-halign: center;
  text-valign: center;
  text-outline-width: 2;
  color: white; }

edge.parent {
  line-style: dotted;
  width: 8;
  target-arrow-color: #366;
  line-color: #366;
  text-outline-color: #366; }

edge.file-change {
  line-style: dotted;
  target-arrow-color: #633;
  line-color: #633;
  text-outline-color: #633; }

edge.io {
  target-arrow-color: #633;
  line-color: #633;
  text-outline-color: #633; }

edge.comm {
  line-style: dashed;
  target-arrow-color: #633;
  line-color: #633;
  text-outline-color: #633; }

edge.proc-change {
  line-style: dashed;
  target-arrow-color: #366;
  line-color: #366;
  text-outline-color: #366; }

edge.proc-metadata {
  line-style: dotted;
  target-arrow-color: #366;
  line-color: #366;
  text-outline-color: #366; }

node {
  content: data(label);
  font-family: Avenir, Helvetica Neue, Helvetica, sans-serif;
  border-style: solid;
  border-width: 2;
  color: black;
  text-background-color: #eee;
  text-background-opacity: 0.75;
  text-background-padding: .25em;
  text-halign: center;
  text-valign: bottom;
  text-outline-width: 0;
  text-wrap: wrap;
  text-max-width: 10em;
  height: 4em;
  width: 4em;
  background-fit: contain;
  background-position-x: 0;
  background-position-y: 0; }

node.important {
  overlay-color: red;
  overlay-padding: 15;
  overlay-opacity: 0.15; }

node:selected {
  overlay-color: #333;
  overlay-padding: 10;
  overlay-opacity: 0.25; }

node.connection {
  shape: rectangle;
  background-image: url(static/images/connection.png);
  background-color: white;
  text-background-opacity: 0; }

node.process {
  shape: ellipse;
  background-color: #333;
  background-image: url(static/images/proc.png);
  border-color: #333;
  font-family: Inconsolata, Source Code Pro, Consolas, monospace; }

node.file-version {
  shape: rectangle;
  background-image: url(static/images/file-version.png);
  background-opacity: 0;
  border-width: 0; }

node.machine {
  font-size: 32pt;
  text-valign: top;
  text-margin-y: 3em;
  shape: rectangle;
  padding: 1em;
  min-width: 180px;
  min-height: 180px;
  background-color: #eee;
  background-image: url(static/images/machine.png);
  background-image-opacity: 0.75;
  background-fit: contain;
  color: white;
  text-background-opacity: 0;
  text-outline-color: #0A3A62;
  text-outline-width: 3; }

node.machine.external {
  font-size: 18pt;
  text-margin-y: 0.25em;
  padding: 1em;
  min-width: 120px;
  min-height: 120px;
  border-width: 0;
  background-image-opacity: 1;
  background-opacity: 0; }

node.socket-version {
  shape: rectangle;
  background-image: url(static/images/socket.png);
  background-fit: contain;
  background-opacity: 0;
  border-opacity: 0; }
