html {
  font-family: Avenir, Helvetica Neue, Helvetica, sans-serif;
  overflow: hidden; }

#logo {
  position: fixed;
  bottom: 0;
  left: 1em;
  padding: .5em;
  width: 15%;
  z-index: -99;
  background-color: white;
  border: 1px solid black; }

nav.navbar, nav.navbar.navbar-default {
  background-color: black;
  font-family: Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-weight: bold; }

.row-fluid {
  overflow-x: hidden; }

#worksheet-container {
  padding: 0;
  padding-right: 1em; }
  #worksheet-container .buttons {
    position: absolute;
    bottom: 0.5em;
    right: 1.5em;
    z-index: 99; }
  #worksheet-container .graph {
    padding: 0;
    height: 100%; }

.navbar-brand {
  font-size: 24pt; }

#sidebar {
  overflow: scroll; }
  #sidebar .panel-heading {
    padding-left: 0.5em;
    padding-right: 0.5em; }
    #sidebar .panel-heading #nodeFilters {
      margin: 0;
      padding: 0.5em; }
      #sidebar .panel-heading #nodeFilters .form-group {
        margin-top: 0; }
      #sidebar .panel-heading #nodeFilters #filterTuple {
        color: #bdbdbd; }
        #sidebar .panel-heading #nodeFilters #filterTuple input {
          color: black; }

#sidebar.collapsed {
  background-color: purple;
  display: none; }

#content {
  padding: 0; }
  #content .container-fluid {
    padding: 0; }

#inspector {
  padding: 0;
  height: 100%;
  overflow-y: scroll; }
  #inspector .graph-panel {
    width: 100%;
    padding: 0; }
    #inspector .graph-panel .graph.panel-body {
      margin: 0;
      padding: 0; }

@media (min-width: 992px) {
  .collapsed {
    display: block;
    margin-left: -25%; } }
