html {
  font-family: Avenir, Helvetica Neue, Helvetica, sans-serif; }

#sidebar {
  height: 85%;
  width: 20%;
  position: absolute;
  top: 15%;
  left: 0;
  padding: 0.5em; }
  #sidebar .logo {
    position: absolute;
    bottom: 0.5em;
    width: 90%; }

#worksheet {
  width: 80%;
  height: 60%;
  position: absolute;
  top: 15%;
  left: 20%;
  border: 3px solid black; }

#aux-info {
  width: 80%;
  height: 25%;
  position: absolute;
  left: 20%;
  bottom: 0;
  border: 3px solid black; }

.button-bar {
  position: absolute;
  bottom: 0;
  padding: .25em;
  text-align: right;
  width: 100%;
  background-color: #366;
  color: white; }
