html {
  font-family: Avenir, Helvetica Neue, Helvetica, sans-serif; }

body > .container {
  padding-top: 92px; }

#logo {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: .5em;
  width: 15%;
  z-index: 99;
  background-color: white;
  border: 2px solid black; }

nav.navbar, nav.navbar.navbar-default {
  background-color: black;
  font-family: Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-weight: bold; }

nav.navbar {
  position: fixed;
  width: 100%;
  z-index: 99; }

.graph {
  padding: 0;
  width: 100%; }

.navbar-brand {
  font-size: 24pt; }

#sidebar {
  height: 100%;
  width: 20%;
  padding: 1em;
  padding-top: 60px;
  position: absolute;
  top: 0;
  left: 0; }

#content {
  position: fixed;
  left: 20em;
  top: 60px;
  padding: 1em;
  width: 80%; }

#inspector > * {
  height: 100%; }
  #inspector > * .panel {
    height: 100%; }
    #inspector > * .panel .panel-body {
      height: 90%; }

.scrollable {
  overflow-y: scroll; }
