html
  position: relative
  min-height: 100%
  overflow: hidden


body
  position: fixed
  display: flex
  flex-flow: column
  height: 100%
  width: 100%
  margin: 0

  font-size: 0.8rem

  nav.navbar
    flex: 0 1 3em

    .dropdown
      z-index: 99

  main
    flex: 1 1 auto

    table.nodelist tr td, table.node-properties tr td
      padding: 0.25em

      /* Non-static positioning allows absolute positioning within the cell */
      position: relative

  footer.footer
    background-color: #f5f5f5
    flex: 0 1 2em
    line-height: 2em
    padding-left: 1em


.lm_content
  display: flex

.form
  display: flex
  flex-flow: column
  padding: 0.5em

  .header
    flex: 0 0 auto

  .content
    flex: 1 1 auto

.graph
  background: white
  border: 2px solid black
  flex: 1 1 auto

.scrollable-y
  overflow-y: scroll

.spacer
  flex-grow: 1

.worksheet
  display: flex
  flex-flow: column
  padding: 0

  .controls
    flex: 0 0 auto
    padding: 0.25em
    padding-right: 1.25em

    button
      margin: 0.1em
