$primary-color:   #333
$navbar-color:    black

$connection-color: black
$exec-color:      #366
$important-color: red
$machine-bg:      #eee
$machine-color:   #0A3A62
$pipe-color:      #076928
$syscall-color:   #633
