@import _colour

core
  active-bg-color: $primary-color

edge
  content: data(label)
  curve-style: bezier
  font-family: Avenir, Helvetica Neue, Helvetica, sans-serif
  target-arrow-shape: triangle
  width: 4

edge.exec
  line-style: dotted
  width: 8

  target-arrow-color: $exec-color
  line-color: $exec-color

  text-halign: center
  text-valign: center
  text-outline-width: 2
  text-outline-color: $exec-color
  color: white

edge.syscall
  target-arrow-color: $syscall-color
  line-color: $syscall-color

  text-halign: center
  text-valign: center
  text-outline-width: 2
  text-outline-color: $syscall-color
  color: white


node
  content: data(label)
  font-family: Avenir, Helvetica Neue, Helvetica, sans-serif

node.process
  height: 4em
  width: 4em

  background-color: $primary-color
  background-image: url(/static/images/proc.png)
  background-fit: contain

  border-width: 1
  border-style: solid
  border-color: $primary-color

  text-halign: center
  text-valign: center
  text-outline-width: 2
  text-outline-color: black
  color: white

node.vnode
  shape: rectangle
  height: 4em
  width: 4em

  background-image: url(/static/images/file.png)
  background-fit: contain

  border-width: 2
  border-style: solid
  border-color: black

  text-halign: center
  text-valign: center
  text-rotation: .78539815
  text-outline-width: 2
  text-outline-color: black
  color: white
