@import _colour

core
  active-bg-color: $primary-color

edge
  curve-style: bezier
  font-family: Avenir, Helvetica Neue, Helvetica, sans-serif
  source-arrow-shape: none
  mid-target-arrow-shape: triangle
  arrow-scale: 2
  width: 8

  text-halign: center
  text-valign: center
  text-outline-width: 2
  color: white

edge.parent
  line-style: dotted
  width: 8

  target-arrow-color: $exec-color
  mid-target-arrow-color: $exec-color
  line-color: $exec-color
  text-outline-color: $exec-color

edge.file-change
  line-style: dotted
  target-arrow-color: $syscall-color
  mid-target-arrow-color: $syscall-color
  line-color: $syscall-color
  text-outline-color: $syscall-color

edge.io
  target-arrow-color: $syscall-color
  mid-target-arrow-color: $syscall-color
  line-color: $syscall-color
  text-outline-color: $syscall-color

edge.comm
  line-style: dashed
  target-arrow-color: $syscall-color
  mid-target-arrow-color: $syscall-color
  line-color: $syscall-color
  text-outline-color: $syscall-color

edge.proc-change
  line-style: dashed
  target-arrow-color: $exec-color
  mid-target-arrow-color: $exec-color
  line-color: $exec-color
  text-outline-color: $exec-color

edge.proc-metadata
  line-style: dotted
  target-arrow-color: $exec-color
  mid-target-arrow-color: $exec-color
  line-color: $exec-color
  text-outline-color: $exec-color


node
  content: data(label)
  font-family: Avenir, Helvetica Neue, Helvetica, sans-serif
  font-size: 24pt

  border-style: solid
  border-width: 2

  color: black
  text-outline-color: $machine-bg
  text-outline-opacity: 0.9
  text-outline-width: 6
  text-halign: center
  text-valign: bottom
  text-wrap: wrap
  text-max-width: 10em

  height: 4em
  width: 4em

  background-fit: contain
  background-position-x: 0
  background-position-y: 0

node.important
  overlay-color: $important-color
  overlay-padding: 15
  overlay-opacity: 0.15

node:selected
  overlay-color: $primary-color
  overlay-padding: 10
  overlay-opacity: 0.25

node.connection
  shape: rectangle
  background-image: url(static/images/connection.png)
  background-color: white

  color: white
  text-background-opacity: 0
  text-outline-color: $connection-color
  text-outline-width: 3

node.process
  shape: ellipse

  background-color: $primary-color
  background-image: url(static/images/proc.png)
  border-color: $primary-color
  font-family: Inconsolata, Source Code Pro, Consolas, monospace
  font-weight: bold

node.file
  background-color: $file-bg
  background-opacity: 0.25
  border-color: $syscall-color
  color: $syscall-color

node.file-version
  shape: rectangle
  content: ''
  text-opacity: 0

  background-image: url(static/images/file-version.png)
  background-opacity: 0
  border-width: 0

node.machine
  font-size: 48pt

  text-valign: top

  shape: rectangle
  padding: 1em

  width: 180px
  height: 180px

  background-color: $machine-bg;
  background-image: url(static/images/cadets-machine.svg)
  background-fit: contain
  background-opacity: 0

  border-width: 0

  color: $machine-color
  font-weight: bold
  text-background-opacity: 0
  text-outline-color: white //$machine-color
  text-outline-width: 3

node.machine:parent
  background-image-opacity: 0
  background-fit: none
  background-height: 128px
  background-width: 128px
  background-opacity: 1

  border-width: 2
  min-height: 128px
  min-width: 128px

node.machine.external
  text-margin-y: 0.25em
  padding: 1em
  width: 80px
  height: 80px

  background-image: url(static/images/machine-external.svg)
  background-image-opacity: 1

node.pipe
  content: data(label)

  background-color: $pipe-color
  background-opacity: 0.25
  border-color: $pipe-color
  color: $pipe-color

node.pipe-endpoint
  content: ''
  font-size: 0
  text-opacity: 0

  shape: rectangle
  background-image: url(static/images/pipe.png)
  background-color: white
  background-opacity: 0
  border-width: 0

node.socket-version
  shape: rectangle

  background-image: url(static/images/socket.png)
  background-fit: contain
  background-opacity: 0
  border-opacity: 0
