@import _colour

$top-margin: 60px

html
  font-family: Avenir, Helvetica Neue, Helvetica, sans-serif

body > .container
  padding-top: $top-margin + 32px

#logo
  position: fixed
  bottom: 0
  right: 0

  padding: .5em
  width: 15%
  z-index: 99

  background-color: white
  border: 2px solid black

nav.navbar, nav.navbar.navbar-default
  background-color: $navbar-color
  font-family: Avenir, Helvetica Neue, Helvetica, sans-serif
  font-weight: bold

nav.navbar
  position: fixed
  width: 100%
  z-index: 99

.graph
  width: 100%

.navbar-brand
  font-size: 24pt

#sidebar
  height: 100%
  width: 20%

  padding: 1em
  padding-top: $top-margin

  position: absolute
  top: 0
  left: 0

#content
  position: fixed
  left: 20em
  top: $top-margin

  padding: 1em
  width: 80%

#inspector > *
  height: 100%

  .panel
    height: 100%

    .panel-body
      height: 90%

.button-bar
  position: absolute
  bottom: 0

  padding: .25em

  text-align: right
  width: 100%

  background-color: $primary-color
  color: white
