@import _colour

$top-margin: 60px

html
  font-family: Avenir, Helvetica Neue, Helvetica, sans-serif

nav.navbar, nav.navbar.navbar-default
  background-color: $navbar-color
  font-family: Avenir, Helvetica Neue, Helvetica, sans-serif
  font-weight: bold

.navbar-brand
  font-size: 24pt

#sidebar
  height: 100%
  width: 20%

  padding: 1em
  padding-top: $top-margin

  position: absolute
  top: 0
  left: 0

  .logo
    position: absolute
    bottom: 0.5em

    width: 90%

#worksheet
  width: 80%
  height: 60%
  position: absolute
  top: $top-margin
  left: 20%

  border: 3px solid black

#aux-info
  width: 80%
  height: 30%
  position: absolute
  left: 20%
  bottom: 0

  border: 3px solid black

.button-bar
  position: absolute
  bottom: 0

  padding: .25em

  text-align: right
  width: 100%

  background-color: $primary-color
  color: white
